body {
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}

button {
  background-color: #3882f6;
  width: 100px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: #f9faf8;
  font-weight: 600;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 128px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
}

.content-1 {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 64px 128px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 460px;
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: gray;
  height: 240px;
  width: 480px;
}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.info {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.img-card {
  width: 130px;
  height: 130px;
  border: 3px solid rgb(76, 110, 221);
  border-radius: 8px;
}

.subtext {
  width: 130px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #1f2937;
}

.img-holder {
  display: flex;
  gap: 32px;
}

.content-3 {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.quote {
  width: 820px;
  font-size: 36px;
  color: #717c8b;
  font-weight: lighter;
  display: flex;
  align-items: center;
}

.attribution {
  text-align: right;
  width: 750px;
  color: #1f2937;
  font-size: 18px;
  font-weight: 700;
}

.content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;
  height: 150px;
  background-color: #3882f6;
  padding: 0 32px;
  border-radius: 8px;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700px;
}

.border-button {
  border: 2px solid white;
  border-radius: 8px;
}

.sign-up-text > p {
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 14px;
  padding: 32px 0;
}
